Source: stsbl-iserv-cancel-group-membership
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-cancel-group-membership

Package: stsbl-iserv-cancel-group-membership
Architecture: all
Depends: iserv-portal, stsbl-iserv3-maintenance
Description: Gruppenmitgliedschaften beenden für IServ
 Erlaubt es ausgewählten Benutzern, die Mitgliedschaften in Gruppen, in denen sie derzeit Mitglied sind, zu beenden.
 .
 https://it.stsbl.de/wp-content/uploads/2017/01/stsbl-iserv-cancel-group-membership.png
 .
 Der Besitzer der Gruppe, sofern vorhanden, wird über die Beendigung der Mitgliedschaft informiert.
Tag: suite::iserv:portal, role::plugin, implemented-in::php, status::highlighted, status::recommended
